<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="https://github.com/dengyi1992">我的GitHub</a></h3>欢迎fork和star</li>
  <li><h3><a href="https://github.com/dengyi1992/MyBlog">使用 Express + MongoDB 搭建多人博客</a></h3>示例如此</li>
  <li><h3><a href="https://github.com/dengyi1992/node-lessons">（推荐）Node.js 包教不包会</a></h3>这个课程是希望提供更多的 Node.js 实战机会，通过每一节精心安排的课程目标，让 Node.js 的初学者们可以循序渐进地，有目的有挑战地开展 Node.js 的学习。</li>
  <li><h3><a href="https://github.com/dengyi1992/pushNew">（原创）nodejs 版本基于socket.io 推送服务器端</a></h3>socket.io推送服务器端</li>
<li><h3><a href="https://github.com/dengyi1992/SRX_DO_IN_BACKGROUND">（原创）三人行服务器版本</a></h3>通过爬虫爬取新闻信息，该项目是基于的mysql，并给客户端提供接口！欢迎fork和star</li>
  <li><h3><a href="https://github.com/dengyi1992/PushDemoService">基于socket.io的android客户端</a></h3>欢迎fork和star</li>



</ul>
<%- include footer %>
